# Ignore Mac system files
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Igonote file locations
recordings/

# Ignore jupyter checkpoint
.ipynb_checkpoints/